$color-white: white;
$color-black: black;
$color-grey: #f7f7f7;
$color-dark-grey: #646464;
$color-primary-light: #41d82a;
$color-primary-dark: #059665;
$color-tour-box-light: orange;
$color-tour-box-dark: rgb(255, 123, 0);
$color-tour-blue-light: rgb(0, 162, 255);
$color-tour-blue-dark: rgb(0, 68, 255);

$grid-gutter-horizontal: 6rem;
$grid-gutter-horizontal-2: 4rem;
$grid-gutter-vertical: 7rem;
$grid-max-width: 114rem;

$regular-font-size: 1.5rem;
